/*/////////////////////////////Accueil en général///////////////////////*/
#accueil {
  background-image: url(https://cdn.discordapp.com/attachments/890334722385932298/1053858656619331634/BlackpinkFond.png);
  background-size: cover;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  color: rgb(171, 132, 180);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*-------------------------------Titre principaux dans accueil--------------------------*/
section#accueil h1 {
  margin-top: 0;
}
/*--------------------------Paragraphe dans accueil---------------------------*/
section#accueil p {
  text-shadow: 3px 3px 5px; 
}
section#accueil a#git {
  color: rgb(171, 132, 180);
  font-style: italic;
  font-variant: small-caps;
  text-shadow: 3px 3px 5px; 
}

