/*////////////////////Section vidéo en général////////////////////*/
#video {
  background-color: rgb(240, 159, 200);
}
/*--------------Titre principal de la section vidéo---------------*/
section#video h1 {
  margin-top: 100px;
}
/*--------------------Séparation entre les vidéos--------------------*/
section#video div.figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/*------------------Titre en dessous des videos-------------------*/
section#video figcaption {
  color: black;
  text-shadow: 1px 1px 2px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 12px;
}
/*--------------Le fond des titres des videos-------------------*/
section#video figure {
  background-color: pink;
}
/*-----------------Titre au dessus des vidéos-------------------*/
section#video figcaption#vid-title {
  font-size: 20px;
}